@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    background: #A3D9FF;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;
}

.menu{
    align-self: center;
    padding: 8% 0 0;
}

.form{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form .btn {
    text-transform: uppercase;
    outline: 0;
    background: #77B6EA;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form .btn:hover,.form .btn:active,.form .btn:focus {
    background: #577399;
}

.form .message, .error, .confirmation{
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #577399;
    text-decoration: none;
    cursor: pointer;
}

.form .register-form {
    display: none;
}

.form .error{
    color: red;
}

.form .confirmation{
    color: red;
}

/* WAVES */
section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: url(../../image/wave.png);
    background-size: 1000px 60px;
}

section .wave.wave1 {
    animation: animate 40s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2 {
    animation: animate2 25s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 0;
}

section .wave.wave3 {
    animation: animate3 25s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}

section .wave.wave4 {
    animation: animate3 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 15;
}

@keyframes animate{
    0% {
        background-position-x: 0;
        
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2{
    0% {
        background-position-x: 0;
        
    }
    100% {
        background-position-x: -1000px;
    }
}
@keyframes animate3{
    0% {
        background-position-x: 0;
        
    }
    100% {
        background-position-x: -1000px;
    }
}
@keyframes animate4{
    0% {
        background-position-x: 0;
        
    }
    100% {
        background-position-x: -1000px;
    }
}